################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/commandshield/v17/Preview/Browse.VC.db
/.vs/commandshield/FileContentIndex
/.vs/commandshield/v17/ipch/AutoPCH
/.vs/commandshield/v17/.wsuo
/.vs/commandshield/v17/Browse.VC.db
/.vs/commandshield/v17/Browse.VC.db-shm
/.vs/commandshield/v17/Browse.VC.db-wal
/.vs/commandshield/v17/DocumentLayout.backup.json
/.vs/commandshield/v17/DocumentLayout.json
/.vs/commandshield/v17/.suo
/.vs/slnx.sqlite
/.gitignore
