################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/commandshield/v17/Preview/Browse.VC.db
